<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UStockMapper">
    
    <resultMap type="UStock" id="UStockResult">
        <result property="id"    column="id"    />
        <result property="gid"    column="gid"    />
        <result property="sid"    column="sid"    />
        <result property="uid"    column="uid"    />
        <result property="stype"    column="stype"    />
        <result property="snum"    column="snum"    />
    </resultMap>

    <sql id="selectUStockVo">
        select u_stock.id,u_stock.sid,u_goods.s_name,u_goods.s_img,u_goods.s_lb,u_stock.gid,u_store.s_name cname ,u_store.s_address,u_store.s_contenct ,u_stock.snum, if(u_stock.stype=1,'入库','出库') stype ,(select user_name from sys_user where sys_user.user_id=u_stock.uid) uname  from u_stock LEFT JOIN u_goods on u_goods.sid=u_stock.sid   LEFT JOIN u_store on u_store.uid=u_stock.gid

       </sql>

    <select id="selectUStockList" parameterType="UStock"   resultType="java.util.Map">
        <include refid="selectUStockVo"/>
        <where>  
            <if test="gid != null  and gid != ''"> and u_stock.gid = #{gid}</if>
            <if test="sid != null  and sid != ''"> and u_stock.sid = #{sid}</if>
            <if test="uid != null  and uid != ''"> and u_stock.uid = #{uid}</if>
            <if test="stype != null  and stype != ''"> and u_stock.stype = #{stype}</if>
            <if test="snum != null  and snum != ''"> and u_stock.snum = #{snum}</if>

        </where>
    </select>


    <select id="selectUStockList1" parameterType="UStock"   resultType="java.util.Map">
        select re.sid,u_goods.s_name,	u_goods.s_img,
        u_goods.s_lb, re.gid,	u_store.s_name cname,
        u_store.s_address,
        u_store.s_contenct, re.snum from (select u_stock.sid,u_stock.gid,  sum(if(u_stock.stype=1,snum,-1*snum)) snum  from u_stock   GROUP BY u_stock.sid , u_stock.gid) re
        LEFT JOIN u_goods ON u_goods.sid =re.sid
        LEFT JOIN u_store ON u_store.uid = re.gid

        <where>
            re.snum!=0
            <if test="gid != null  and gid != ''"> and re.gid = #{gid}</if>
            <if test="sid != null  and sid != ''"> and re.sid = #{sid}</if>

        </where>
    </select>


    <update id="insertLog" parameterType="UStock">
        insert into u_log(select u_stock.id,u_stock.sid,u_goods.s_name,u_goods.s_img,u_goods.s_lb,u_stock.gid,u_store.s_name cname ,u_store.s_address,u_store.s_contenct ,u_stock.snum, if(u_stock.stype=1,'入库','出库') stype ,(select user_name from sys_user where sys_user.user_id=u_stock.uid) uname,now() tim  from u_stock LEFT JOIN u_goods on u_goods.sid=u_stock.sid
        LEFT JOIN u_store on u_store.uid=u_stock.gid
        <where>
            <if test="gid != null  and gid != ''"> and u_stock.gid = #{gid}</if>
            <if test="sid != null  and sid != ''"> and u_stock.sid = #{sid}</if>
            <if test="uid != null  and uid != ''"> and u_stock.uid = #{uid}</if>
            <if test="stype != null  and stype != ''"> and u_stock.stype = #{stype}</if>
            <if test="snum != null  and snum != ''"> and u_stock.snum = #{snum}</if>
        </where>
        LIMIT 0, 1
)
    </update>
    
    <select id="selectUStockById" parameterType="String" resultType="java.util.Map">
        <include refid="selectUStockVo"/>
        where u_stock.id = #{id}
    </select>

    <select id="getUstockCount" parameterType="UStock" resultType="java.util.Map">
        select sum(if(stype=2,-1*snum,snum)) re from u_stock
        <where>
            <if test="gid != null  and gid != ''"> and gid = #{gid}</if>
            <if test="sid != null  and sid != ''"> and sid = #{sid}</if>

        </where>
    </select>




    <insert id="insertUStock" parameterType="UStock" useGeneratedKeys="true" keyProperty="id">
        insert into u_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gid != null and gid != ''">gid,</if>
            <if test="sid != null and sid != ''">sid,</if>
            <if test="uid != null and uid != ''">uid,</if>
            <if test="stype != null and stype != ''">stype,</if>
            <if test="snum != null and snum != ''">snum,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gid != null and gid != ''">#{gid},</if>
            <if test="sid != null and sid != ''">#{sid},</if>
            <if test="uid != null and uid != ''">#{uid},</if>
            <if test="stype != null and stype != ''">#{stype},</if>
            <if test="snum != null and snum != ''">#{snum},</if>
         </trim>
    </insert>

    <insert id="insertUStockLog" parameterType="UStock" useGeneratedKeys="true" keyProperty="id">
        insert into u_stock_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gid != null and gid != ''">gid,</if>
            <if test="sid != null and sid != ''">sid,</if>
            <if test="uid != null and uid != ''">uid,</if>
            <if test="stype != null and stype != ''">stype,</if>
            <if test="snum != null and snum != ''">snum,</if>
            <if test="slx != null and slx != ''">slx,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gid != null and gid != ''">#{gid},</if>
            <if test="sid != null and sid != ''">#{sid},</if>
            <if test="uid != null and uid != ''">#{uid},</if>
            <if test="stype != null and stype != ''">#{stype},</if>
            <if test="snum != null and snum != ''">#{snum},</if>
            <if test="slx != null and slx != ''">#{slx},</if>
        </trim>
    </insert>

    <update id="updateUStock" parameterType="UStock">
        update u_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="gid != null and gid != ''">gid = #{gid},</if>
            <if test="sid != null and sid != ''">sid = #{sid},</if>
            <if test="uid != null and uid != ''">uid = #{uid},</if>
            <if test="stype != null and stype != ''">stype = #{stype},</if>
            <if test="snum != null and snum != ''">snum = #{snum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUStockById" parameterType="String">
        delete from u_stock where id = #{id}
    </delete>

    <delete id="deleteUStockByIds" parameterType="String">
        delete from u_stock where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>